# Ridge Classifier

In [1]:
from sklearn.datasets import load_iris
from sklearn.linear_model import RidgeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

import numpy as np
import pandas as pd

In [31]:
dataset = load_iris()

In [32]:
features = pd.DataFrame(dataset["data"], columns = dataset["feature_names"])
labels = pd.DataFrame(dataset["target"], columns = ["Catergory"])

In [33]:
features

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [34]:
labels

     Catergory
0            0
1            0
2            0
3            0
4            0
..         ...
145          2
146          2
147          2
148          2
149          2

[150 rows x 1 columns]

In [35]:
featuresTrain, featuresTest, labelsTrain, labelsTest = train_test_split(features, labels, test_size = 0.3, random_state=9)

In [36]:
regressor = RidgeClassifier()
regressor.fit(featuresTrain, labelsTrain)

C:\Users\PS\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

RidgeClassifier()

In [37]:
trainPredictions = regressor.predict(featuresTrain)
testPredictions = regressor.predict(featuresTest)

In [38]:
print("The model performance for training set ")
print("Accuracy Score", accuracy_score(labelsTrain, trainPredictions))

The model performance for training set
Accuracy Score 0.8285714285714286

In [39]:
print("The model performance for test set ")
print("Accuracy Score", accuracy_score(labelsTest, testPredictions))

The model performance for test set
Accuracy Score 0.9555555555555556